@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit&display=swap');
* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family:'Munito', sans-serif;
}

body {
    background-image: url(https://i.ytimg.com/vi/HMTKMWHLbdQ/maxresdefault.jpg);
}

.header1 {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 90px;
    
}

.header1 .logo img {
    height: 70px;
    width: auto;
    transition: all 4s;
}

.header1 .logo img:hover{
    transform: scale(10.2);
    
}

.header1 .barra-links li {
    display: inline-block;
   padding: 0 20px;
   
}
.header1 .barra-links li:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.header1 .barra-links a {
    text-decoration: none;
    color: aliceblue;
   padding-left: -80%;
    
}

.header1 .barra-links a:hover{
    color: gray;
}

.texto{
    text-align: center;
    padding: 20px;
    color: black
}
.footerdiv{
    display: grid;
    min-height: 100dvh;
    grid-template-rows:
    auto 1fr auto;
}



.button{
    background-color: black;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: darkblue;
    border-radius: 5px;
    padding: 5px;
}
.footerdiv{
    display: grid;
    min-height: 100dvh;
    grid-template-rows:
    auto 1fr auto;
}